#inputTaker {
    border: none;
    outline: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 5px;
    font-size: 1rem;
}

#checkBTN {
    border: none;
    outline: none;
    background-color: #dfdfdf;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 10px;
}